.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin: 0 var(--lg-screen-spacing);
    padding: 2rem 0;
  }
  
  @media screen and (max-width: 1920px) {
    .home-wrapper {
      margin: 0 var(--md-screen-spacing);
    }
  }
  
  @media screen and (max-width: 850px) {
    .home-wrapper {
      margin: 0 10%;
    }
  }
  
  @media screen and (max-width: 543px) {
    .home-wrapper {
      margin: 0 var(--sm-screen-spacing);
    }
  }